<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293032291071-86v83pb42u750n7s4vbu5s26dged02kc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293032291071-86v83pb42u750n7s4vbu5s26dged02kc</string>
	<key>API_KEY</key>
	<string>AIzaSyCNazxVkaw4QSq2053esJ14MrfGvAAt304</string>
	<key>GCM_SENDER_ID</key>
	<string>293032291071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pabloski.sharedshoppinglist</string>
	<key>PROJECT_ID</key>
	<string>sharedshoppinglist-85380</string>
	<key>STORAGE_BUCKET</key>
	<string>sharedshoppinglist-85380.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293032291071:ios:3e655c3147836de9e37aca</string>
</dict>
</plist>